<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    default-lazy-init="true"
    xmlns:c="http://www.springframework.org/schema/c"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <!--
        Import InCommon beans.
    -->
    <import resource="file:${mdq.home}/us_incommon/beans.xml"/>

    <!--
        Pipeline used to acquire metadata for service.

        Input: empty collection.

        Output: collection of individual entity metadata items.

        This pipeline imports and processes entities from the InCommon
        preview aggregate.
    -->
    <bean id="source.SAML" parent="SimplePipeline">
        <property name="stages">
            <list>
                <!-- Start with the InCommon preview aggregate. -->
                <ref bean="us_incommon_previewEntities"/>
                <ref bean="populateItemIds"/>
                <ref bean="populateRegistrationAuthorities"/>

                <!-- Add SHA1-transformed IDs for all entities. -->
                <bean class="net.shibboleth.metadata.pipeline.ItemIdTransformStage">
                    <property name="idTransformers">
                        <bean class="net.shibboleth.metadata.pipeline.MDQuerySHA1ItemIdTransformer"/>
                    </property>
                </bean>

                <!-- Additional processing for IdPs only. -->
                <bean parent="stage_parent" class="net.shibboleth.metadata.pipeline.SplitMergeStage">
                    <!-- Select IdP entities. -->
                    <property name="selectionStrategy">
                        <bean class="net.shibboleth.metadata.dom.XPathItemSelectionStrategy">
                            <constructor-arg value="md:IDPSSODescriptor"/>
                            <constructor-arg ref="commonNamespaces"/>
                        </bean>
                    </property>
                    <property name="selectedItemPipeline">
                        <bean parent="SimplePipeline">
                            <property name="stages">
                                <list>

                                    <!-- Tag all IdPs as "collection:idps". -->
                                    <bean class="net.shibboleth.metadata.pipeline.ItemMetadataAddingStage">
                                        <property name="additionalItemMetadata">
                                            <bean class="net.shibboleth.metadata.ItemTag" c:itemTag="collection:idps"/>
                                        </property>
                                    </bean>

                                </list>
                            </property>
                        </bean>
                    </property>
                </bean>

                <!--
                    Perform an identity transform to ward off signature issues.

                    See https://issues.shibboleth.net/jira/browse/MDA-144
                -->
                <bean id="identity.transform" parent="XSLTransformationStage">
                    <property name="XSLResource">
                        <bean parent="ClassPathResource">
                            <constructor-arg value="identity.xsl"/>
                        </bean>
                    </property>
                </bean>

            </list>
        </property>
    </bean>

</beans>
