<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    default-lazy-init="true"
    xmlns:c="http://www.springframework.org/schema/c"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <!--
        Import InCommon beans.
    -->
    <import resource="file:${mdq.home}/us_incommon/beans.xml"/>

    <!--
        Import eduGAIN beans.
    -->
    <import resource="file:${mdq.home}/int_edugain/beans.xml"/>

    <!--
        Import eduGAIN policy.
    -->
    <import resource="file:${mdq.home}/edugain-policy.xml"/>

    <!--
        removeInCommonEntities

        Filter out entities which declare themselves as registered
        by our federation.  We don't want those coming back in
        from another registrar or metadata exchange as they may be
        old versions of entities we have deregistered, or spoofed.
    -->
    <bean id="removeInCommonEntities" parent="EntityRegistrationAuthorityFilterStage"
        p:id="removeInCommonEntities">
        <property name="designatedRegistrationAuthorities">
            <list>
                <ref bean="us_incommon_registrar"/>
            </list>
        </property>
        <property name="requiringRegistrationInformation" value="true"/>
        <property name="whitelistingRegistrationAuthorities" value="false"/>
    </bean>

    <!--
        edugain_importPipeline
    -->
    <bean id="edugain_importPipeline" parent="SimplePipeline"
        p:id="edugain_importPipeline">
        <property name="stages">
            <list>
                <ref bean="int_edugain_productionEntities"/>

                <!-- Remove entities from our own federation. -->
                <ref bean="removeInCommonEntities"/>

                <!-- Populate identifiers for future actions. -->
                <ref bean="populateItemIds"/>
                <ref bean="populateRegistrationAuthorities"/>

                <!-- Apply policy. -->
                <ref bean="edugainPolicy"/>

                <!--
                    Silently remove entities which are marked as
                    having errors.
                -->
                <ref bean="errorRemover"/>
            </list>
        </property>
    </bean>

    <!--
        Pipeline used to acquire metadata for service.

        Input: empty collection.

        Output: collection of individual entity metadata items.

        The main line of this pipeline imports and processes entities from InCommon.
        Entities from eduGAIN are merged in from a separate pipeline.
    -->
    <bean id="source.SAML" parent="SimplePipeline">
        <property name="stages">
            <list>
                <!-- Start with the InCommon production aggregate. -->
                <ref bean="us_incommon_productionEntities"/>
                <ref bean="populateItemIds"/>

                <!-- Merge in entities from eduGAIN. -->
                <bean id="mergeProductionMDXEntities" parent="PipelineMergeStage.deduplicate"
                    p:id="mergeProductionMDXortedEntities">
                    <property name="mergedPipelines">
                        <ref bean="edugain_importPipeline"/>
                    </property>
                </bean>

                <!-- Add SHA1-transformed IDs for all entities. -->
                <bean class="net.shibboleth.metadata.pipeline.ItemIdTransformStage">
                    <property name="idTransformers">
                        <bean class="net.shibboleth.metadata.pipeline.MDQuerySHA1ItemIdTransformer"/>
                    </property>
                </bean>

                <!-- Additional processing for IdPs only. -->
                <bean parent="stage_parent" class="net.shibboleth.metadata.pipeline.SplitMergeStage">
                    <!-- Select IdP entities. -->
                    <property name="selectionStrategy">
                        <bean class="net.shibboleth.metadata.dom.XPathItemSelectionStrategy">
                            <constructor-arg value="md:IDPSSODescriptor"/>
                            <constructor-arg ref="commonNamespaces"/>
                        </bean>
                    </property>
                    <property name="selectedItemPipeline">
                        <bean parent="SimplePipeline">
                            <property name="stages">
                                <list>

                                    <!-- Tag all IdPs as "collection:idps". -->
                                    <bean class="net.shibboleth.metadata.pipeline.ItemMetadataAddingStage">
                                        <property name="additionalItemMetadata">
                                            <bean class="net.shibboleth.metadata.ItemTag" c:itemTag="collection:idps"/>
                                        </property>
                                    </bean>

                                </list>
                            </property>
                        </bean>
                    </property>
                </bean>

            </list>
        </property>
    </bean>

</beans>
